/* Define the keyframe animation */
@keyframes borderHighlight {
  0% {
    border-color: #333;  /* starting color */
  }
  50% {
    border-color: rgba(249, 105, 0, 1);  /* highlight color */
  }
  100% {
    border-color: #333;  /* ending color (same as starting color) */
  }
}
#preloader {
  background: #000 url('../images/cool_mars_gif.gif') no-repeat center center;
  background-size: 15%;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index:100;
}
#preloader.hide {
  display: none;
}


.input-code {
  /* Initial border setup */
  border: 2px solid #333;
  /* Apply the animation */
  animation: borderHighlight 1s infinite; /* The animation will run for 1 second and repeat infinitely */
}

body.body {
    background-color: black !important; 
    color:white;
    overflow: visible; /*To hide Scroll Bar*/
}

.landing-container {
    background-color: black;
    color:white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.navbar {
    position: relative;
    padding-left: 10%;
    width: 100%;
}
.landing-leftside {
    width: 50%;
}
#mars-image {
    width: 90%;
    margin: 2%;
    height: auto;
    border-radius: 10%;
}
#r-btn {
    position:absolute;
    right: 3%;
    top:4%;
}

.blur {
  filter: blur(4px);
  pointer-events: none; /* Prevents clicking on the blurred elements */
}
.forgot-password-div {
  display: flex;
  flex-direction: row;
}
@font-face {
    font-family: 'Nebula Regular';
    src: url('../fonts/nebula-regular.otf') format('opentype');
    /* Add additional src lines for other font formats if necessary */
  }
@font-face {
    font-family: 'Aileron';
    src: url('../fonts/aileron-regular.otf') format('truetype');
    /* Add additional src lines for other font formats if necessary */
  }
h2#dr-r.bs-overrides{
    position: absolute;
    left: 3%;
    top:3%;
    font-family: 'Nebula';
}
.intro-section {
    margin-top: 7%;
    font-family: 'Aileron', sans-serif;
    padding: 3%;
}
.genesis-quote {
    font-size: 2.5vw;
}
.reference {
    font-weight:lighter;
    font-size: 0.4em;
    color: rgba(255,255,255,0.6)
    
}
.canceled-text {
    text-decoration: line-through;
    text-decoration-color: rgba(249, 105, 0, 1); /* Specify the color */
    text-decoration-thickness: 7px; /* Specify the thickness */     
  }
.mars-text {
    color: rgba(249, 105, 0, 1);
}
.welcome-message {
    width: 50%;
    margin-left:30%;
    margin-top:1%;
}


.welcome-section {
    text-align: center;
    margin: 50px;
  }
  
  .brand-name {
    color: rgba(249, 105, 0, 1);
    font-family: 'Nebula', sans-serif;
    display: inline-block;
  }
  
  .sub-heading {
    font-size: 0.8em;
    margin-top: 10px;
  }
  

  .landing-leftside {
    display: block; /* By default, the div is displayed */
  
    /* Media query for screen size below 768px*/
    @media (max-width: 767px) {
      display: none; /* Hide the mars image when the screen size is below 768px */
    }
  }



  /* ------------Registration Page CSS-----------------*/
 div#registration-container.bs-overrides {
    background-color: black;
    color:white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    margin-top:7%;
}

.registration-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
}
form {
    width: 100%;
}
input.form-control {
    background-color: rgba(0,0,0,0.5);
}

.vertical-line {
    position: absolute;
    top: 10%;
    left: 49.5%;
    width: 0.5%;
    height: 80%;
    border-radius: 10px;
    background-color: rgba(249, 105, 0, 1);
  }

  .btn.btn-primary.r {
    margin-left: 45%;
  }

  @media screen and (max-width: 450px){
    .landing-container {
      margin-top:20%;
    }
    div#registration-container.bs-overrides {
      flex-direction: column;
    }
    .vertical-line {
      width: 80%;
      height:4px;
      position: relative;
      left:auto;
      right: auto;
      top:auto;
    }
    body.body {
      overflow: auto;
    }
    .registration-form {
      width:90%;
    }
  }
