<!-- astros: all_courses.html-->
{% extends 'astros/layout.html' %}
{% load static %}
{% block body%}
<div class="sidebar" style="display:none">
    <header class="sidebar-header">X</header>
    <ul>
        {% if is_professor %}
            <li><a href="{% url 'phobos:index' %}">Home</a></li>
            <li><a href="{% url 'phobos:search_question' %}">Search</a></li>
        {% elif is_student %}
            <li><a href="{% url 'deimos:index' %}">Home</a></li>
            <li><a href="{% url 'deimos:search_question' %}">Search</a></li>
        {% endif %}
    </ul>
</div>
    <div id="sf-container">
        <input  id="search-field" type="text" name="search" class="page-search" data-name="course-name" placeholder="search course"/>
    </div>
    <br/>
    <h4>All courses</h4>
    <!-- Display courses -->
    <ul class="courses course-list">
        {% if is_professor%}
            {% for course, is_course_prof in courses__is_professor %}
            {% if course.name == "Practice_Test_Course" %}
            {% else %}
            {% include 'astros/prof_course_display.html' with course=course is_course_prof=is_course_prof%}
            {% endif %}
            {% endfor %}

        {% elif is_student %}
            {% for course, is_course_stud in courses__is_student %}
            {% if course.name == "Practice_Test_Course" %}
            {% else %}
                {% include 'astros/stud_course_display.html' with course=course is_course_stud=is_course_stud %}
            {% endif %}
            {% endfor %}
        
        {% else %}
            {% for course in courses %}
            {% if course.name == "Practice_Test_Course" %}
            {% else %}
                {% include 'astros/lambda_course_display.html' with course=course%}
            {% endif %}
            {% endfor %}
        {% endif %}
    </ul>

{% endblock %}
{% block scripts %}
<script src="{% static 'astros/js/course_enroll.js' %}"></script>
<script src="{% static 'deimos/js/search_generic.js' %}"></script>
{% endblock %}