<!-- astros: all_courses.html-->
{% extends 'astros/layout.html' %}

{% block body%}


    <div id="sf-container">
        <input  id="search-field" type="text" name="search" placeholder="search course"/>
    </div>
    <br/>
    <h4>All courses</h4>
    <!-- Display courses -->
    <ul class="courses course-list">
        {% if is_professor%}
            {% for course, is_course_prof in courses__is_professor %}
                {% include 'astros/prof_course_display.html' with course=course is_course_prof=is_course_prof%}
            {% endfor %}

        {% elif is_student %}
            {% for course, is_course_stud in courses__is_student %}
                {% include 'astros/stud_course_display.html' with course=course is_course_stud=is_course_stud %}
            {% endfor %}
        
        {% else %}
            {% for course in courses %}
                {% include 'astros/lambda_course_display.html' with course=course%}
            {% endfor %}
        {% endif %}
    </ul>

    <script>

        ul= document.querySelector('.course-list');
        ul.addEventListener('click',(event)=>{
            parent_ = event.target.parentNode;
                //console.log('1',parent_);
            if(parent_.classList.contains('enrollment')){
                //console.log('2');
                enrollment_div = parent_;
        btn_pre_Enroll = enrollment_div.querySelector('.pre-Enroll');
        btn_Enroll = enrollment_div.parentNode.querySelector('.co-enroll-btn');
        btn_link = enrollment_div.parentNode.querySelector('.co-enroll-link')
        code_input_field = enrollment_div.querySelector('input[type=number]');
        btn_valide_code = enrollment_div.querySelector('input[type=button]');
        
        
        //btn_pre_Enroll.addEventListener('click',(event)=>{
            //event.preventDefault();
            code_input_field.style.display= 'block';
            btn_valide_code.style.display= 'block';
            btn_pre_Enroll.style.display='none';
          //})
        
        code_input_field.addEventListener('change',(event)=>{
            event.preventDefault();
            event.target.style.color='black';
        })
        
        btn_valide_code.addEventListener('click',(event)=>{
            event.preventDefault();
            console.log(btn_Enroll.dataset.courseId)
            fetch('validate_enrollment_code/'+ btn_Enroll.dataset.courseId +'/'+ code_input_field.value)
            .then(response=>response.json())
            .then(validation =>{
                //console.log(validation)
                code_input_field.value='';
                code_input_field.placeholder = validation.response;
                if(validation.state){
                    btn_link.style.display = 'block';
                    btn_Enroll.style.display ='block';
                    btn_valide_code.style.display = 'none';
                    code_input_field.style.color='green';
                    code_input_field.style.display = 'none'
        
                }
                else{
                    code_input_field.style.color='red';
                }
            })
        })

            }
            
        });   

        </script>

{% endblock %}