<!-- astros: prof_course_display.html -->
<li class="course-li" data-course-id="{{ course.id }}">
    <div class="course-section">
        <div class="image-container">
            {% if course.image %}
                <img src="{{ course.image.url }}" alt="Course Image" class="course-image">
            {% endif %}
        </div>
        <div class="c-text">
            <span class="c-name course-name"><strong>{{course.name}}</strong></span>
            <p class="c-description">
                {{ course.description }}</p>
            <p class="timestamp" style="display: none;">Created on {{ course.timestamp|date:"m/d/Y" }}</p>
        </div>
    </div>
    {% if is_course_prof == 1 %}
        <div class="edit-section il">{% csrf_token %}
            <div><a href="{% url 'phobos:course_management' course_id=course.id %}"><button class="btn edit-btn co" data-course-id="{{ course.id}}">Manage</button></div></a>
        
        </div>
    {% endif %}

</li>