<!--astros:register.html-->
{% extends 'astros/registration_layout.html' %}

{% load static %}

{% block title %} Register {% endblock %}

{% block body%}
    <div id="registration-container" class="bs-overrides">
    <div class="vertical-line"></div>
    <div class="register-phobos registration-form">
        <p>Register as an <strong><em>instructor</em></strong> on the <strong><em>Phobos</em></strong> version</p>
        {% if message_phobos %}
            <div>{{ message_phobos }}</div>
        {% endif %}
        <form action="{% url 'phobos:register' %}" method="post" >
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control" autofocus type="text" name="first_name" placeholder="First name">
            </div>
            <div class="form-group">
                <input class="form-control" autofocus type="text" name="last_name" placeholder="Last name">
            </div>
            <div class="form-group">
                <input class="form-control" autofocus type="text" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input class="form-control" autofocus type="text" name="department" placeholder="Department">
            </div>
            <div class="form-group">
                <input class="form-control" type="email" name="email" placeholder="Email Address">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
            </div>
            <input class="btn btn-primary r" type="submit" value="Register">
        </form>
    </div>

    <div class="register-deimos registration-form">
        <p>Register as a <strong><em>student</em></strong> on the <strong><em>Deimos</em></strong> version</p>
        {% if message_deimos %}
            <div>{{ message_deimos }}</div>
        {% endif %}
        <form action="{% url 'deimos:register' %}" method="post" >
            {% csrf_token %}
            <div class="form-group">
                <input class="form-control" autofocus type="text" name="first_name" placeholder="First name">
            </div>
            <div class="form-group">
                <input class="form-control" autofocus type="text" name="last_name" placeholder="Last name">
            </div>
            <div class="form-group">
                <input class="form-control" autofocus type="text" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input class="form-control" type="email" name="email" placeholder="Email Address">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
            </div>
            <input class="btn btn-primary r" type="submit" value="Register">
        </form>
    </div>

    <div class="Authentification-div" style="border: solid,3px; height: 100px; width: 250px; position: absolute; left:40%; top:auto; display: none;">
        <div form-control>
            Enter verification code: <input class=" form-control input-code" type="number" name="code">
            <br>
            <button class=" btn btn-primary Authentification-btn">Authentify </button>
            <button class="btn btn-primary cancel-btn">Cancel </button>
        </div>
    </div>
</div>

<script>
    let working_form= null;

function getCookie(name) {
if (!document.cookie) {
  return null;
}

const csrfCookie = document.cookie
  .split(';')
  .map(c => c.trim())
  .find(c => c.startsWith(name + '='));

if (!csrfCookie) {
  return null;
}

return decodeURIComponent(csrfCookie.split('=')[1]);
}

    const AuthentificationDiv = document.querySelector('.Authentification-div')

    forms= document.querySelectorAll('form')
    forms.forEach(form => {
        form.addEventListener('submit',()=>{
            event.preventDefault();
            password = form.querySelector('input[name=email]').value

            if(password.length>=8){
            fetch('/authentification/generate_code', {
            method: 'POST',
            headers: { 'X-CSRFToken': getCookie('csrftoken') },
            body: JSON.stringify({
                    email: form.querySelector('input[name=email]').value
            })
          })
          .then(response => response.json())
          .then(result => {
              alert(result.message);
              if(result.success){
                AuthentificationDiv.style.display='block';
                working_form= form;
              }
          });
        }else{
            alert('password must contain atleast 8 characters')
        }

        })
    });

    AuthentificationDiv.addEventListener('click',()=>{
        target= event.target;
        if(target.classList.contains('cancel-btn')){
            AuthentificationDiv.style.display='none';
        }
        else if(target.classList.contains('Authentification-btn')){
            fetch('/authentification/validate_code', {
            method: 'POST',
            headers: { 'X-CSRFToken': getCookie('csrftoken') },
            body: JSON.stringify({
                    code: AuthentificationDiv.querySelector('.input-code').value,
                    email: working_form.querySelector('input[name=email]').value
                    
            })
          })
          .then(response => response.json())
          .then(result => {
              alert(result.message);
              if(result.success){
                working_form.submit();
              }
          });    
        }
    })

</script>

{% endblock %}
