<!-- astros: stud_course_display.html -->
<li class="course-li" data-course-id="{{ course.id }}">
    <div class="course-section">
        <div class="image-container">
            {% if course.image %}
                <img src="{{ course.image.url }}" alt="Course Image" class="course-image">
            {% endif %}
        </div>
        <div class="c-text">
            <span class="c-name"><strong>{{course.name}}</strong></span>
            <p class="c-description">{% if course.description|length > 90 %}
                {{ course.description|slice:":90" }}...
            {% else %}
                {{ course.description }}
            {% endif %}</p>
        
            <p class="timestamp" style="display: none;">Created on {{ course.timestamp|date:"m/d/Y" }}</p>
        </div>
    </div>

    {% if is_course_stud == 1 %}
        <div class="edit-section il">{% csrf_token %}
            <div><a href="{% url 'deimos:course_management' course_id=course.id %}"><button class="btn edit-btn co" data-course-id="{{ course.id}}">View</button></div></a>
        
        </div>
    {% else %}
        <div class="edit-section il">{% csrf_token %}
            <div><a href="{% url 'deimos:course_enroll' course_id=course.id %}"><button class="btn edit-btn co" data-course-id="{{ course.id}}">Enroll</button></div></a>
        
        </div>
    {% endif %}

</li>