<!-- phobos: assignment_management.html-->
{% extends 'phobos/layout.html' %}
{% block title %} Assignment {% endblock %}
{% load static %}
{% block body%}
<div class="sidebar" style="display:none">
    <header class="sidebar-header">X</header>
    <ul>
        <li><a href="{% url 'phobos:index' %}">Home</a></li>
        <li><a href="{% url 'phobos:create_question' assignment_id=assignment.id %}">Create Question</a></li>
        {% if not is_question_bank %}
            <li><a href="{% url 'phobos:course_management' course_id=assignment.course.id %}">Assigments</a></li>
        {% endif %}
        <li><a href="{% url 'phobos:search_question' %}">View Question Bank</a></li>
        <li><a href="{% url 'astros:all_courses' %}">All Courses</a></li>
    </ul>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light navigation" >
    <div class="container-fluid">
      <ul class="navbar-nav mr-auto" style="list-style: none; display:flex;">
        <li class="nav-item " style="display:inline;">
          <a class="nav-link home-btn" href="{% url 'phobos:course_management' course_id=course.id %}">Course</a>
        </li>
        <li class="nav-item" style="display:inline;">
          <a class="nav-link view-notes-btn" href="{% url 'phobos:create_question' assignment_id=assignment.id %}">Create Question</a>
        </li>
        <li class="nav-item" style="display:inline;">
            <a class="nav-link gradebook-btn" href="{% url 'phobos:gradebook' course_id=course.id %}">GradeBook</a>
        </li>
        
        </div>
  </nav>

  <div class="side-info-icon" title="Info">
    <a href="{% url 'phobos:edit_grading_scheme' course_id=course.id assignment_id=assignment.id %}"><ion-icon name="options-outline"></a></ion-icon>
  </div>

<form action="{% url 'phobos:search_question' %}" method="post" id="search-form">
    {% csrf_token %} 
    <div id="sf-container">
        <input  id="search-field" type="text" name="search_question" placeholder="search question"/>
    </div>
</form>
    <br/>
    <br/>
    <h4 class="suggestion" style="font-size: large;">{{assignment.course.name}} - {{assignment.name}}</h4><hr/>
    <div>
    {% if not assignment.is_assigned %}
        
            <button class="btn edit-btn co assign-btn" data-assignment-id="{{assignment.id}}">Assign</button>
    {% endif %}
<!-- Due Date functionalities-->
    <button class="btn edit-btn co due_date-btn"  data-assignment-id="{{assignment.id}}">Change Due Date</button>
        <div  class="due-date-div" style="display: none" >
            <input type="date"  class="input-new-due-date-field">
            <input type="button" class="save-new-due-date-field btn btn-outline-info" value="OK">
        </div>
    </div>
   
    <ul class="courses course-list">
        {% for question in questions %}
            {% include 'phobos/question_display.html' with question=question assignment_id=assignment.id course_id=assignment.course.id%}
        {% endfor %}
    </ul>

{% endblock %}
{% block scripts%}
<script src="{% static 'phobos/js/search_question.js' %}"></script>
{% if not assignment.is_assigned %}
<script src="{% static 'phobos/js/assign_question.js' %}"></script>
{% endif %}
<script src="{% static 'phobos/js/extend_due_date.js' %}"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
{% endblock %}

