<!-- phobos: assignment_management.html-->
{% extends 'phobos/layout.html' %}
{% block title %} Assignment {% endblock %}
{% load static %}
{% block body%}

<form action="{% url 'phobos:search_question' %}" method="post" id="search-form">
    {% csrf_token %} 
    <div id="sf-container">
        <input  id="search-field" type="text" name="search_question" placeholder="search question"/>
    </div>
</form>
    <br/>
    <br/>
    <h4>{{assignment.course.name}}: {{assignment.name}}</h4><hr/>
    <a href="{% url 'phobos:create_question' assignment_id=assignment.id %}" style="display: inline;">  Create a new question</a>
    
    <!-- Display assignment's questions -->
    <ul class="courses course-list">
        {% for question in questions %}
            {% include 'phobos/question_display.html' with question=question assignment_id=assignment.id course_id=assignment.course.id%}
        {% endfor %}
    </ul>

{% endblock %}
{% block scripts%}
<script src="{% static 'phobos/js/search_question.js' %}"></script>
{% endblock %}