<!-- phobos: course_display.html -->
<li class="course-li" data-course-id="{{ course.id }}">
    <div class="course-section">
    <p class="c-description">{{ course.description }}</p>
    <div class="image-container">
        {% if course.image %}
            <img src="{{ course.image.url }}" alt="Course Image" class="course-image">
        {% endif %}
    </div>
    <p class="timestamp">Created on {{ course.timestamp }}</p>
    </div>
    <div class="edit-section il">{% csrf_token %}
        <div><a href="#"><button class="btn edit-btn co" data-course-id="{{ course.id}}">Manage</button></div></a>
       
    </div>

</li>