<!-- phobos: course_management.html-->
{% extends 'phobos/layout.html' %}

{% block body%}

    <div id="sf-container">
        <input  id="search-field" type="text" name="search" placeholder="search assignment"/>
    </div>
    <br/>
    <h4>{{course.name}}</h4>
    <a href="{% url 'phobos:create_assignment' course_id=course.id %}" style="display: inline;">  Create a new assigment</a>
    
    <!-- Display course's assignments -->
    <ul class="courses course-list">
        {% for assignment in assignments %}
            {% include 'phobos/assignment_display.html' with assignment=assignment %}
        {% endfor %}
    </ul>

{% endblock %}