<!-- phobos: create_question.html -->
{% extends 'phobos/layout.html' %}
{% load static %}
{% block title%} Create question {% endblock %}
{% block body %}
    <!-- TODO: Include buttons and invent listeners to create subquestions.-->
    <h3>Create a Question</h3>
    <div class="page-container create-question">
      
    <br/>
    
    <form method="post" enctype="multipart/form-data" id="question-form" action="{% url 'phobos:create_question' assignment_id=assignment_id %}">
      {% csrf_token %}
      <div class="question">
        <div id="topics-subtopics">
            <div class="topics_dropdown option-section">
              <label for="topic" class="option-label">Topic: </label>
              
              <select title="select topic" name="topic" id="topicSelect" class="option-field">
                  <option value selected disabled>Choose topic</option>
                  {% for topic in topics%}
                      <option value="{{topic}}">
                        {{topic}}
                      </option>
                  {% endfor %}
              </select>
            </div>
          
            <div class="sub_topics_dropdown option-section">
              <label for="sub topic" class="option-label">Subtopic: </label>
              <select title="select subtopic" name="sub_topic" id="subTopicSelect" class="option-field">
                <option value selected disabled>Choose subtopic</option>
            </select>

            </div>

        </div>
          
          <div class="question-content form-group">
            
            <br/>
              <label>Question:</label><br/>
              <!--!Important: this question must be here!-->
              <textarea placeholder="Enter the content of the question" id="question-textarea" class="w-50" name="question_text"></textarea>
          </div>
          <div class="answer-options">
            <!--TODO: Change the colors here to fit the overall design-->
            
            <label>Select answer type</label><br/>
            <button id="expression-btn" class="btn btn-primary exempt">Expression</button>
            <button id="float-btn" class="btn btn-info exempt">Float</button>
            <button id="latex-btn" class="btn btn-secondary exempt">Latex</button>
            
          </div>
          
          <div id="formatted-answer"></div>
          <div class="answer-fields">
            
          </div>
          
      </div>
    <br/>
    <input type="submit" value="Create Question">
    </form>
    {% include 'phobos/calci.html' %}
  </div>

{% endblock %}
{% block scripts%}

<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/9.5.0/math.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.2/es5/tex-chtml-full.min.js" crossorigin="anonymous"></script>
<script src="{% static 'phobos/js/subtopics.js' %}"></script>
<script src="{% static 'phobos/js/answer_input.js' %}"></script>
<script src="{% static 'phobos/js/question.js' %}"></script>
<script src="{% static 'phobos/js/calci.js' %}"></script>



{% endblock %}
<!--
      {{ question_form.as_p }}
      
       Render the McqAnswerForm, FloatAnswerForm, ExpressionAnswerForm here based on the question type 
        <p> MCQAnswer</p>
        {{ mcq_answer_form.as_p}}
        <p> Expression Answer</p>
        {{ expression_answer_form.as_p}}
        <p> Float Answer</p>
        {{ float_answer_form.as_p}}

      
      <input type="submit" value="Create Question">
    -->