<!-- phobos: create_question.html -->
{% extends 'phobos/layout.html' %}
{% load static %}
{% block title%} Create question {% endblock %}
{% block body %}

<div class="sidebar" style="display:none">
  <header class="sidebar-header">X</header>
  <ul>
      <li><a href="{% url 'phobos:index' %}">Home</a></li>
      <li><a href="{% url 'phobos:search_question' %}">Search Question</a></li>
  </ul>
</div>
    <!-- TODO: Include buttons and invent listeners to create subquestions.-->
    <h3 class="suggestion original-size">Create a Question</h3>
    <div class="page-container" id="create-question">
      
      <div class="add-var-section">
        <button type="button" class="btn var-btn">+</button>
        <div class="var-info-div">
            <div><input class="var-symbol field-style" type="text" placeholder="enter symbol e.g. x"/></div>
            <div><input class="var-domain field-style" type="text" placeholder="enter intervals e.g.[1,3] [-8, 20]"/></div>
            <div><input class="var-step-size field-style" type="text" placeholder ="step size (optional)" pattern="^?[0-9]*[.,]?[0-9]+" title="Please enter a valid float number."></div>

            <div class="type-selection">
              <label>
                  <input type="radio" name="varType" value="float" checked> Float
              </label>
              <label>
                  <input type="radio" name="varType" value="int"> Int
              </label>
            </div>
            <div><button type="button" class="btn btn-outline-success btn-create-var">Create var</button></div>
            
        </div>
        
      </div>
    <br/>

    <form method="post" enctype="multipart/form-data" id="question-form" action="{% url 'phobos:create_question' assignment_id=assignment_id %}">
      {% csrf_token %}
      
      <div class="question">
        <div id="topics-subtopics">
            <div class="topics_dropdown option-section">
              <label for="topic" class="option-label">Topic: </label>
              
              <select title="select topic" name="topic" id="topicSelect" class="option-field">
                  <option value selected disabled>Choose topic</option>
                  {% for topic in topics%}
                      <option value="{{topic}}">
                        {{topic}}
                      </option>
                  {% endfor %}
              </select>
            </div>
          
            <div class="sub_topics_dropdown option-section">
              <label for="sub topic" class="option-label">Subtopic: </label>
              <select title="select subtopic" name="sub_topic" id="subTopicSelect" class="option-field">
                <option value selected disabled>Choose subtopic</option>
              </select>

            </div>
            <div class="question_difficulty option-section">
              <label for="difficulty" class="option-label">Difficulty: </label>
              <select title="Difficulty" name="question_difficulty" class="option-field">
                {% for question_difficulty in question_difficulties %}
                  <option value="{{question_difficulty}}">
                    {{question_difficulty}}
                  </option>
                {% endfor %}
              </select>
            </div>

        </div>
         <br/>
         <div class="question-content form-group">
            <br/>
            <div class="created-vars"></div>
            <br/>
          </div>
          <div id="all-question-blocks"></div>
      </div>
 

    {% include 'phobos/calci.html' %}
    <br/>
    <input type="submit" class="btn btn-success exempt create-question-btn" value="Create Question">
    <br/>
    </form>

  </div>

{% endblock %}
{% block scripts%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/11.9.1/math.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script src="{% static 'phobos/js/subtopics.js' %}"></script>
<script src="{% static 'phobos/js/create_question.js' %}"></script>
<script src="{% static 'phobos/js/question.js' %}"></script>
<script src="{% static 'phobos/js/calci.js' %}"></script>
{% endblock %}
