<!-- phobos: create_course.html -->
{% extends 'phobos/layout.html' %}
{% block title%} Create Course {% endblock %}
{% block body %}
<div class="sidebar" style="display:none">
    <header class="sidebar-header">X</header>
    <ul>
        <li><a href="{% url 'phobos:index' %}">Home</a></li>
        <li><a href="{% url 'phobos:search_question' %}">Search Question</a></li>
    </ul>
</div>
<div class="page-container">

    
    <div class="course-form">
        <h1>Create a New Course</h1>
        <form method="post" enctype="multipart/form-data" id="create-course-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.name.id_for_label }}">Course Name:</label>
                {{ form.name }}
            </div>
            
            <div class="form-group">
                <label for="{{ form.subject.id_for_label }}">Subject:</label>
                {{ form.subject }}
            </div>
            
            <div class="form-group">
                <label for="{{ form.difficulty_level.id_for_label }}">Difficulty Level:</label>
                {{ form.difficulty_level }}
            </div>
            <div class="form-group">
                <label for="{{ form.description.id_for_label }}">Description:</label>
                {{ form.description }}
            </div>
            <div class="form-group">
                <label for="{{ form.topics.id_for_label }}">Topics: <span class="suggestion">(can select multiple, press Ctrl and click on desired topic)</span></label>
                {{ form.topics }}
            </div>
            
            <div class="form-group">
                <label for="{{ form.professors.id_for_label }}">Professors: <span class="suggestion">(can select multiple, press Ctrl and click on professor's name)</span></label>
                {{ form.professors }}
            </div>
            <div id="image-preview">
                <!-- The uploaded image will be displayed here -->
            </div>
            <div class="form-group">
                <label for="{{ form.image.id_for_label }}">Upload cover image:</label>
                {{ form.image }}
                <img id="image-preview" src="#" alt="Image Preview" style="max-width: 100%; max-height: 200px; display: none;">
            </div>
            <input class= "btn btn-primary" type="submit" value="Create Course">
        </form>
    </div>
</div>

<script>
    // TODO: Move this to JS file
    function resizeTextarea(textarea) {
        // Reset the textarea's height to 0 to get the scrollHeight
        textarea.style.height = '0';
        // Set the new height to match the scrollHeight
        textarea.style.height = textarea.scrollHeight + 'px';
    }
    document.addEventListener('DOMContentLoaded', function () {
        const form = document.getElementById('create-course-form');
        const imageInput = document.querySelector('#{{ form.image.id_for_label }}');
        
        form.addEventListener('submit', function (event) {
            if (!imageInput.value) {
                alert('Please select an image before submitting.');
                event.preventDefault();
            }
        });

        imageInput.addEventListener('change', function () {
            const reader = new FileReader();
            const imageFile = this.files[0];
            reader.onload = function (event) {
                const imageElement = document.createElement('img');
                imageElement.src = event.target.result;
                imageElement.style.maxWidth = '100%';
                imageElement.style.maxHeight = '200px';
                imageElement.style.borderRadius = '15px';
                const imagePreview = document.querySelector('#image-preview');
                imagePreview.style.display = 'block';
                imagePreview.innerHTML = '';
                imagePreview.appendChild(imageElement);
            };
            if (imageFile) {
                reader.readAsDataURL(imageFile);
            }
        });
    });
</script>

{% endblock %}