<!-- phobos: index.html-->
{% extends 'phobos/layout.html' %}

{% block body%}
    <div class="sidebar" style="display:none">
        <header class="sidebar-header">X</header>
        <ul>
            <li><a href="{% url 'phobos:index'%}">Home</a></li>
            <li><a href="{% url 'astros:all_courses' %}">All courses</a></li>
            <li><a href="{% url 'phobos:create_course' %}">Create Course</a></li>
            <li><a href="{% url 'deimos:compare_expressions' %}">Compare Expressions</a></li>
            <li><a href="{% url 'phobos:search_question' %}">Search</a></li>
        </ul>
    </div>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light navigation" >
        <div class="container-fluid">
          <ul class="navbar-nav mr-auto" style="list-style: none; display:flex;">
            <li class="nav-item " style="display:inline;">
              <a class="nav-link home-btn" href="{% url 'astros:all_courses' %}">All Courses</a>
            </li>
            <li class="nav-item" style="display:inline;">
              <a class="nav-link view-notes-btn" href="{% url 'phobos:create_course' %}">Create Course</a>
            </li>
            </div>
      </nav>

    <div id="sf-container">
        <input  id="search-field" type="text" name="search" placeholder="search course"/>
    </div>
    <br/>

        <h4>My courses</h4>
    <!-- Display professor's courses -->
    <ul class="courses course-list">
        {% for course in courses%}
            {% include 'phobos/course_display.html' with course=course%}
        {% empty %}
            <h4 class="suggestion original-size"> You did not create a course yet. Go to 
                <a href="{% url 'phobos:create_course' %}">create</a> to create a new course. 
            </h4>
        {% endfor %}
    </ul>

{% endblock %}