<!-- phobos: index.html-->
{% extends 'phobos/layout.html' %}

{% block body%}


    <div id="sf-container">
        <input  id="search-field" type="text" name="search" placeholder="search course"/>
    </div>
    <br/>
    <a href="{% url 'phobos:create_course' %}" style="display: none;">  Create a new course</a>
    <h4>My courses</h4> <span><a href="{% url 'astros:all_courses' %}">All courses</a></span>
    <!-- Display professor's courses -->
    <ul class="courses course-list">
        {% for course in courses%}
            {% include 'phobos/course_display.html' with course=course%}
        {% endfor %}
    </ul>

{% endblock %}