{% extends 'phobos/layout.html' %}
{% block body %}

<div class="sidebar" style="display:none">
    <header class="sidebar-header">X</header>
    <ul>
        <li><a href="{% url 'phobos:index' %}">Home</a></li>
        <li><a href="{% url 'phobos:create_assignment' course_id=course.id %}">Create Assignment</a></li>
        <li><a href="{% url 'phobos:gradebook' course_id=course.id %}">Gradebook</a></li>
        <li><a href="{% url 'phobos:search_question' %}">Search Question</a></li>
    </ul>
</div>

   
<h4>{{course.name}}</h4><hr/>
<div class="course code">
    <input class="expiring-date-input-field field-style" type= 'date' style="display: none;" name= 'expiring date of the code'/>
    <button class="btn-enrollment-code btn btn-primary"> Create an Enrollment Links</button>

</div>
    <ul class=" course code-list" style="color: blue;"></ul>

{% endblock %}

{% block scripts %}
<script>

    btn_make_new_code = document.querySelector('.btn-enrollment-code')
    expiring_date_input_feild= document.querySelector('.expiring-date-input-field');
    expiring_date_input_feild.type= 'date';
    btn_create = document.createElement('button');
    btn_create.classList.add('btn','btn-success');
    btn_create.innerHTML = 'Create'
    code_list = document.createElement('li');
 
    
    // displaying previous enrollment codes which are still Valid
    fetch('display_enrollment_codes')
        .then(response => response.json())
        .then(Code =>{
            code=Code.codes
            console.log(code,code.length)
            for(i=0;i<code.length;i++){
            code_items = document.createElement('li');
            code_items.innerHTML =  `Code: <em style="color: red;">${code[i].code}</em> expiring date: <em style="color: red;">${code[i].ex_date}</em>`
            document.querySelector('.code-list').append(code_items);}
        })

        // generating a new enrollment code
    btn_make_new_code.addEventListener('click',()=>{
        expiring_date_input_feild.style.display= 'block';
        event.target.parentNode.appendChild(btn_create)
        btn_make_new_code.style.display = 'none';
    })

    btn_create.addEventListener('click',()=>{
        if (expiring_date_input_feild.value != ''){
            btn_make_new_code.style.display= 'block';
            event.target.parentNode.removeChild(btn_create);
         expiring_date_input_feild.style.display= 'none';

        fetch('enrollment_code/'+encodeURIComponent(expiring_date_input_feild.value))
        .then(response => response.json())
        .then(code =>{
            code_items = document.createElement('li');
            code_items.innerHTML =  `Code: <em style="color: red;">${code.code}</em> expiring date: <em style="color: red;">${code.ex_date}</em>`
            document.querySelector('.code-list').append(code_items);
        })

        }
        else {

            alert('enter an expiring date for the code');
}
        console.log(expiring_date_input_feild.value, typeof(expiring_date_input_feild.value))

    })



    
</script>
{% endblock %}