{% extends 'phobos/layout.html' %}
{% block body %}

<div class="sidebar" style="display:none">
    <header class="sidebar-header">X</header>
    <ul>
        <li><a href="{% url 'phobos:index' %}">Home</a></li>
        <li><a href="{% url 'phobos:course_management' course_id=course.id %}">Assignments</a></li>
        <li><a href="{% url 'phobos:gradebook' course_id=course.id %}">Gradebook</a></li>
        <li><a href="{% url 'phobos:search_question' %}">Search Question</a></li>
    </ul>
</div>

   
<h4>{{course.name}}</h4><hr/>
<div class="course code create-section" style="display: none; padding-left: 3%;">
    <input class="expiring-date-input-field field-style" type= 'date'/>
    <p class="suggestion e-date-p"> Enter an expiring date.</p>  
    <button type="button" class="btn btn-success btn-create">Create</button>  
</div>
<div style="padding: 3%;">
    <button class="btn-enrollment-code btn btn-outline-primary"> Create an Enrollment Code</button>
    <ul class="course code-list"></ul>

    <h5 class="suggestion original-size"> Students can the code(s) above to enroll your in course.</h5>
</div>

{% endblock %}

{% block scripts %}
<script>
    const createSection = document.querySelector('.create-section');
    const btnMakeNewCode = document.querySelector('.btn-enrollment-code');
    const expiringDateInputField = document.querySelector('.expiring-date-input-field');
    const btnCreate = document.querySelector('.btn-create');

    // Function to display codes
    function displayCode(code) {
        const codeItems = document.createElement('li');
        codeItems.innerHTML = `Code: <em class="suggestion original-size">${code.code}</em> expiring date: <em>${code.ex_date}</em>`;
        document.querySelector('.code-list').append(codeItems);
    }

    // Fetching and displaying previous enrollment codes
    fetch('display_enrollment_codes')
        .then(response => response.json())
        .then(data => {
            data.codes.forEach(code => displayCode(code));
        })
        .catch(error => console.error('Error:', error));

    // Event listener for creating a new enrollment code
    btnMakeNewCode.addEventListener('click', (event) => {
        createSection.style.display = 'block';
        btnMakeNewCode.style.display = 'none';
    });

    btnCreate.addEventListener('click', (event) => {
        if (expiringDateInputField.value != '') {
            btnMakeNewCode.style.display = 'block';
            expiringDateInputField.style.display = 'none';
            fetch(`enrollment_code/${encodeURIComponent(expiringDateInputField.value)}`)
                .then(response => response.json())
                .then(code => displayCode(code))
                .catch(error => console.error('Error:', error));
        } else {
            alert('Enter an expiring date for the code');
        }
    });


    
</script>
{% endblock %}