<!-- phobos: question_display.html -->
<li class="question-li course-li" data-question-id="{{ question.id }}">
    <a href="{% url 'phobos:question_view' assignment_id=assignment_id course_id=course_id question_id=question.id%}">
        <div class="course-section assigment-section">
            <div class="q-text">
                
                <span class="c-name question-name"><strong>Question {{question.number}}</strong></span>
                    
                <p class="c-description question-content">
                    {{ question.text|safe }}</p><br/>
                <p class="timestamp" style="display: none;">Created on {{ question.timestamp|date:"m/d/Y" }}</p>
            </div>
        </div>
    </a>
</li>