<!-- phobos: question_display.html -->
<li class="question-li course-li" data-question-id="{{ question.id }}">
    <div class="course-section assigment-section">
        <div class="image-container">
        </div>
        <div class="c-text q-text">
            
            <span class="c-name"><strong>Question {{question.number}}</strong>
                
            <p class="c-description">{% if question.text|length > 147 %}
                {{ question.text|slice:":147" }}...
            {% else %}
                {{ question.text }}
            {% endif %}</p><br/>
            <p class="timestamp" style="display: none;">Created on {{ question.timestamp|date:"m/d/Y" }}</p>
        </div>
    </div>
    <div class="edit-section il">{% csrf_token %}
        <div><a href="{% url 'phobos:question_view' assignment_id=assignment_id course_id=course_id question_id=question.id%}">
            <button class="btn edit-btn co" data-question-id="{{ question.id}}">View</button></div></a>
       
    </div>

</li>