{% extends 'phobos/layout.html' %}
{% load static %}
{% block title %} Student_Profile {% endblock %}
{% block style %} <link rel="stylesheet" href="{% static 'phobos/css/gradebook.css' %}"/> {% endblock %}
{% block body%}
    <div class="sidebar" style="display:none">
        <header class="sidebar-header">X</header>
        <ul>
            <li><a href="{% url 'phobos:index' %}">Home</a></li>
            <li><a href="{% url 'phobos:course_management' course_id=course.id %}">Assigments</a></li>
        </ul>
    </div>
<h4> {{ student.first_name}} {{student.last_name}} </h4>
<h5 class="suggestion"> Student Profile - {{course.name}} </h5>

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <td><b>Assignments</b></td>
            <td><b>Grades</b></td>
            <td><b>Remark</b></td>
        </tr>
    </thead>
    <tbody>
    {% for assignment, grade in student_grade %}
    <tr>
        <td class="assignment" id='{{assignment.id}}'>{{ assignment.name}} </td>
        <td> {{grade}} </td>
        {% if grade > 70 %}
            <td> Passed </td>
        {% else %}
            <td> Failed</td>
        {% endif %}
        <td> {{due_date}} </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<!-- edit score implementation-->
</br>
<div class="edit_questions_details sf-container" style="display: none; width: 70%;">
    <div>
        <b style="color: blueviolet;">MODIFYING: <div class="question-num" style="display: inline;"></div></b>
    </div>
    <div class="row">
        <div class="col-sm-4"><b> original score: </b><div class="original-score"></div></div>
        <div class="col-sm-4"><b> actual score:</b><div class="actual-score"></div></div>
        <div class="col-sm-4"><b>new score:</b> <input class='new-score-input-field field-style' type='number'> </div>
    </div>
    <br>
    <button class="apply-btn btn btn-outline-success">apply</button>
    <button class="cancel-btn btn btn-outline-danger"> cancel</button>
    <br>
</div>
<!-- end -->

{% block script %}
<script src="{% static 'phobos/js/student_profile.js' %}"></script>  


{% endblock %}

    
{% endblock %}