<!--deimos: action_menu.html-->
<div class="navigation-m">
    <div class="menuToggle"></div>
    <div class="menu">
        <ul>
            <li style="--i:0.1s;">
                <a href="#"><ion-icon name="pencil-outline"></ion-icon>
                </a>
            </li>
            <li style="--i:0.2s;">
                <a href="#"><ion-icon name="camera-outline"></ion-icon>
                </a>
            </li>
            <li style="--i:0.3s;">
                <a href="#"><ion-icon name="mail-unread-outline"></ion-icon>
                </a>
            </li>
        </ul>
    </div>
</div>
