<!-- deimos: assignment_management.html-->
{% extends 'deimos/layout.html' %}
{% block title %} Assignment {% endblock %}
{% load static %}
{% block body%}
<div class="sidebar" style="display:none">
    <header class="sidebar-header">X</header>
    <ul> {% if assignment.category == "PRACTICE_TEST" %}
        <li><a href="{% url 'deimos:index' %}">Home</a></li>
        <li><a href="{% url 'deimos:practice_test_page' course_id=course_id %}">Practice Test</a></li>
        <li><a href="{% url 'deimos:search_question' %}">Search Question</a></li>
        {% else %}
        <li><a href="{% url 'deimos:index' %}">Home</a></li>
        <li><a href="{% url 'deimos:course_management' course_id=assignment.course.id %}">Assignments</a></li>
        <li><a href="{% url 'deimos:search_question' %}">Search Question</a></li>
        {% endif %}
    </ul>
</div>


<nav class="navbar navbar-expand-lg navbar-light bg-light navigation" >
    <div class="container-fluid">
      <ul class="navbar-nav mr-auto" style="list-style: none; display:flex;">
        <li class="nav-item " style="display:inline;">
            {% if assignment.category == "PRACTICE_TEST" %}
            <a class="nav-link view-notes-btn" href="{% url 'deimos:practice_test_page' course_id=course_id %}">Practice Test</a>
            {% else %}
          <a class="nav-link home-btn" href="{% url 'deimos:course_management' course_id=assignment.course.id%}">Home</a>
          {% endif %}
        </li>
        <li class="nav-item" style="display:inline;">
          <a class="nav-link view-notes-btn" href="{% url 'deimos:note_management' course_id=assignment.course.id%}">View notes</a>
        </li>
        </div>
  </nav>

<form action="{% url 'deimos:search_question' %}" method="post" id="search-form">
    {% csrf_token %} 
    <div id="sf-container">
        <input  id="search-field" type="text" name="search_question" placeholder="search question"/>
    </div>
</form>
    <br/>
    <br/>
    <h4 class="suggestion original-size page-title">{{assignment.course.name}}: {{assignment.name}}</h4>
    <hr/>
    <!-- Display assignment's questions -->
    <ul class="courses course-list">
        {% for question in questions %}
        {% if assignment.category == "PRACTICE_TEST" %}

        {% include 'deimos/question_display.html' with question=question assignment_id=assignment.id course_id=course_id %}
        
        {% else %}
            {% include 'deimos/question_display.html' with question=question assignment_id=assignment.id course_id=assignment.course.id%}
        {% endif %}
            {% endfor %}
    </ul>

{% endblock %}
{% block scripts%}
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script src="{% static 'deimos/js/search_generic.js' %}"></script>
<script src="{% static 'deimos/js/assignment_management.js' %}"></script>
{% endblock %}
