<!-- deimos: assignment_management.html-->
{% extends 'deimos/layout.html' %}
{% block title %} Assignment {% endblock %}
{% load static %}
{% block body%}
<div class="sidebar" style="display:none">
    <header class="sidebar-header">X</header>
    <ul>
        <li><a href="{% url 'deimos:index' %}">Home</a></li>
        <li><a href="{% url 'deimos:course_management' course_id=assignment.course.id %}">Assignments</a></li>
        <li><a href="{% url 'deimos:search_question' %}">Search Question</a></li>
    </ul>
</div>
<nav class="navbar-custom">
    <a class="nav-link home-btn" href="{% url 'deimos:index' %}">Home </a>
    <a class="nav-link" href="{% url 'deimos:course_management' course_id=assignment.course.id %}">Assignments</a>
    <a class="nav-link view-notes-btn" href="{% url 'deimos:note_management' course_id=assignment.course.id%}">View notes</a>
    <a class="nav-link gradebook-btn" href="{% url 'deimos:gradebook' course_id=assignment.course.id%}">GradeBook</a>
</nav>
    <div class="sf-container">
        <input type="text" name="search_question" class="page-search search-field w-limit-50" data-name="question-name" placeholder="search question"/>
    </div>
    <br/>
    <br/>
    <h4 class="suggestion original-size page-title">{{assignment.course.name}}: {{assignment.name}}</h4>
    <hr/>
    <!-- Display assignment's questions -->
    <ul class="courses course-list">
        {% for question, question_student in questions %}
            {% include 'deimos/question_display.html' with question=question assignment_id=assignment.id course_id=assignment.course.id question_student=question_student %}
        {% endfor %}
    </ul>

{% endblock %}
{% block scripts%}
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script src="{% static 'deimos/js/search_generic.js' %}"></script>
<script src="{% static 'deimos/js/assignment_management.js' %}"></script>
{% endblock %}
