<!-- deimos: assignment_management.html-->
{% extends 'deimos/layout.html' %}
{% block title %} Assignment {% endblock %}
{% load static %}
{% block body%}
<div class="sidebar" style="display:none">
    <header class="sidebar-header">X</header>
    <ul>
        <li><a href="{% url 'deimos:index' %}">Home</a></li>
        <li><a href="{% url 'deimos:course_management' course_id=assignment.course.id %}">Assignments</a></li>
        <li><a href="{% url 'deimos:search_question' %}">Search Question</a></li>
    </ul>
</div>
<form action="{% url 'deimos:search_question' %}" method="post" id="search-form">
    {% csrf_token %} 
    <div id="sf-container">
        <input  id="search-field" type="text" name="search_question" placeholder="search question"/>
    </div>
</form>
    <br/>
    <br/>
    <h4 class="suggestion" style="font-size: large;">{{assignment.course.name}} - {{assignment.name}}</h4><hr/>
    
    <!-- Display assignment's questions -->
    <ul class="courses course-list">
        {% for question in questions %}
            {% include 'deimos/question_display.html' with question=question assignment_id=assignment.id course_id=assignment.course.id%}
        {% endfor %}
    </ul>

{% endblock %}
{% block scripts%}
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script src="{% static 'deimos/js/search_question.js' %}"></script>
<script src="{% static 'deimos/js/assignment_management.js' %}"></script>
{% endblock %}
