<!--deimos:calci.html-->
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'deimos/css/calci.css' %}">
    <link rel="stylesheet" type="text/css"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
{% block body%}
    
        {% if not_display %}
            <div class="container hide" id="calc-container">
        {% else %}
            <div class="container hide" id="calc-container">
        {% endif %}
        
            
            <div class="calculator">

            
                <div class="display calc-display-div">
                    <div class="preface-section">
                        <span class="preface-content"></span> <span style="margin-right: 5px;">  =   </span>
                    </div>
                    <input id="screen" type="text" placeholder="0" name="answer" data-changed-part="true"/>
                    <div class="units-section">
                        <input class="units-screen" type="text" placeholder="units" name="answer_unit"/>
                    </div>
                </div>

            <div class="btns">
                <div class="row">
                    <button type="button" class="btn calc-btn exempt" id="deg-mode">deg</button>
                    <button type="button" class="btn calc-btn exempt" id="rad-mode">rad</button>
                    <button type="button" class="calc-btn"> </button>
                    <button type="button" id="ce" onclick="backspc()">CE</button>
                    
                </div>
                <div class="row">
                    
                    <button type="button" class="btn calc-btn exempt inv" id="inv-mode">inv</button>
                    <button type="button" class="btn calc-btn">x!</button>
                    <button type="button" class="btn calc-btn">(</button>
                    <button type="button" class="btn calc-btn">)</button>
                    <button type="button" class="btn calc-btn">%</button>
                    <button type="button" id="ac" onclick="screen.value=''">AC</button>
                </div>

                <div class="row">
                    <button type="button" class="btn calc-btn trig special exempt">sin</button>
                    <button type="button" class="btn calc-btn">π</button>
                    <button type="button" class="btn calc-btn">7</button>
                    <button type="button" class="btn calc-btn">8</button>
                    <button type="button" class="btn calc-btn">9</button>
                    <button type="button" class="btn calc-btn">÷</button>
                </div>

                <div class="row">
                    <button type="button" class="btn trig calc-btn special exempt">cos</button>
                    <button type="button" class="special logarithm-btn">log</button>
                    <button type="button" class="btn calc-btn">4</button>
                    <button type="button" class="btn calc-btn">5</button>
                    <button type="button" class="btn calc-btn">6</button>
                    <button type="button" class="btn calc-btn">×</button>
                </div>

                <div class="row">
                    <button type="button" class="btn calc-btn trig special exempt">tan</button>
                    <button type="button" class="btn calc-btn special exempt">√</button>
                    <button type="button" class="btn calc-btn">1</button>
                    <button type="button" class="btn calc-btn">2</button>
                    <button type="button" class="btn calc-btn">3</button>
                    <button type="button" class="btn calc-btn">-</button>
                </div>

                <div class="row">
                    <button type="button" class="btn calc-btn">e</button>
                    <button type="button" class="btn calc-btn special exempt">x <span style="position: relative; bottom: .4em; right: .1em;">y</span> </button>
                    <button type="button" class="btn calc-btn">0</button>
                    <button type="button" class="btn">.</button>
                    <button type="button" id="eval" onclick="mathjsEval()">=</button>
                    <button type="button" class="btn calc-btn">+</button>
                </div>
            </div>
            </div>     
        </div>
     
{% endblock %} 