<!-- deimos: course_display.html -->
<li class="course-li" data-course-id="{{ course.id }}">
    <a href="{% url 'deimos:course_management' course_id=course.id%}" style="height: 100%; width: 100%;">
        <div class="course-section">
            <div class="image-container">
                {% if course.image %}
                    <img src="{{ course.image.url }}" alt="Course Image" class="course-image">
                {% endif %}
            </div>
            <div class="c-text">
                <span class="c-name course-name"><strong>{{course.name}}</strong></span>
                <p class="c-description">{{ course.description}}</p>
                <p class="timestamp" style="display: none;">Created on {{ course.timestamp|date:"m/d/Y" }}</p>
            </div>
        </div>
    </a>
</li>