<!-- deimos: course_display.html -->
<li class="course-li" data-course-id="{{ course.id }}">
    <div class="course-section">
        <div class="image-container">
            {% if course.image %}
                <img src="{{ course.image.url }}" alt="Course Image" class="course-image">
            {% endif %}
        </div>
        <div class="c-text">
            <p class="c-name"><strong>{{course.name}}</strong></p>
            <p class="c-description">{{ course.description| slice:":100" }}</p>
        
            <p class="timestamp" style="display: none;">Created on {{ course.timestamp|date:"m/d/Y" }}</p>
        </div>
    </div>
    <div class="edit-section il">{% csrf_token %}
        <div><a href="#"><button class="btn edit-btn co" data-course-id="{{ course.id}}">Manage</button></div></a>
       
    </div>

</li>