{% extends 'deimos/layout.html' %}
{% load static %}
{% block title %} GradeBook {% endblock %}
{% block body %}
<div>
    <style>
            .progress {
              width: 80%;
              height: 20px;
              margin-left:10%;
            }
      </style>

    <div class="sidebar" style="display:none">
      <header class="sidebar-header">X</header>
      <ul>
          <li><a href="{% url 'deimos:index' %}">Home</a></li>
          <a class="nav-link" href="{% url 'deimos:course_management' course_id=course.id%}">Assignments</a>
          <li><a href="{% url 'astros:course_info' course_id=course.id %}">Course Info</a></li>
          <li><a href="{% url 'deimos:search_question' %}">Search Question</a></li>
      </ul>
  </div>
  
  <nav class="navbar-custom">
      <a class="nav-link home-btn" href="{% url 'deimos:index' %}">Home </a>
      <a class="nav-link" href="{% url 'deimos:course_management' course_id=course.id%}">Assignments</a>
      <a class="nav-link view-notes-btn" href="{% url 'deimos:note_management' course_id=course.id%}">View notes</a>
  </nav>
    <div class="progress" data-score="{{course_score}}"><!-- Please calculate total score/100-->
        <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="sf-container">
      <input type="text" name="search" class="search-field page-search w-limit-50" data-display="table-row"
      data-parent="assignment-row" data-name="assignment-name" placeholder="search by assignment name" />
    </div>
      <div class="do-margin">
        <br>
            <div class="suggestion original-size"><h5>{{student.first_name}} {{student.last_name}}'s Report</h5></div>
        <br>

            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th> Assignments</th>
                        <th> Grades </th>
                    </tr>
                </thead>
                <tbody>
                    {% for assignment in assignment_student_grade %}
                    <tr class="assignment-row">
                        <td> <a href="{% url 'deimos:assignment_gradebook_student' student_id=student.id assignment_id=assignment.id %}">
                            <b class="assignment-name">{{assignment.assignment_student.assignment.name}}</b></a>
                        </td> 
                            <td> {{assignment.grade}} %</td>
                    </tr>
                    {% if forloop.last %}
                      <input  class ="num_assignments" type="hidden" data-num_assignments="{{ forloop.counter}}">
                    {% endif %}
                    {% endfor %}
                    <tr>
                        <td><b>COURSE SCORE</b></td>
                        <td>{{course_score}} %</td>
                    </tr>
                </tbody>
            </table>

      </div>
</div>


<script>
    // Get the progress element
    var progress = document.querySelector(".progress");
    // Set the value of the progress element to the score
    var score = parseFloat(progress.dataset.score)
    score = score.toFixed(2);
     // Get the progress-bar element inside the progress element
    var progressBar = progress.querySelector(".progress-bar");

    // Add the progress-bar class to the progress-bar element
    progressBar.classList.add("progress-bar");

    // Set the width of the progress-bar element to the score percentage
    progressBar.style.width = score + "%";

    // Set the text inside the progress-bar element to the score percentage
    progressBar.textContent = score + "%";

    // Change the color of the progress-bar element based on the score
    if (score > 94) {
      // If score is greater than 94, use green color
      progressBar.classList.add("bg-success");
    } else if (score > 85) {

      progressBar.classList.add("bg-info");
    } else if (score > 70) {

      progressBar.classList.add("bg-warning");
    } else {

      progressBar.classList.add("bg-danger");
    }
    console.log(progressBar.className)
  </script>
{% endblock %}

{% block scripts %}
<script src="{% static 'deimos/js/search_generic.js' %}"></script>
{% endblock %}