<!-- deimos: index.html-->
{% extends 'deimos/layout.html' %}
{% load static %}
{% block body%}

<div class="sidebar" style="display:none">
    <header class="sidebar-header">X</header>
    <ul>
        <li><a href="{% url 'deimos:index' %}">Home</a></li>
        <li><a href="{% url 'astros:all_courses' %}">All courses</a></li>
    </ul>
</div>
<div class="sf-container">
    <input type="text" name="search" class="page-search search-field w-limit-50" data-name="course-name" placeholder="search course" />
</div>
    <h4>My courses</h4> 
   <!-- Display Student's courses -->
    <ul class="courses course-list">
        {% for course in courses%}
            {% include 'deimos/course_display.html' with course=course%}
        {% empty %}
            <h5 class="suggestion original-size" style="width:100%">You are not yet registered for any course.
                Go to <a href="{% url 'astros:all_courses' %}">All courses</a> to see available courses.
            </h5>
        {% endfor %}
    </ul>

{% endblock %}
{% block scripts %}
    <script src="{% static 'deimos/js/search_generic.js' %}"></script>
{% endblock %}