<!-- deimos: index.html-->
{% extends 'deimos/layout.html' %}

{% block body%}

<div class="sidebar" style="display:none">
    <header class="sidebar-header">X</header>
    <ul>
        <li><a href="{% url 'deimos:index' %}">Home</a></li>
        <li><a href="{% url 'astros:all_courses' %}">All courses</a></li>
    </ul>
</div>
    <h4>My courses</h4> 
   <!-- Display Student's courses -->
    <ul class="courses course-list">
        {% for course in courses%}
            {% if course.name == "Practice_Test_Course" %}
            {% else %}
            {% include 'deimos/course_display.html' with course=course%}
            {% endif %}
        {% endfor %}
    </ul>

{% endblock %}