<!-- deimos: course_management.html-->
<li>
  
<div class="note-course-section" style="width: 70%;">
    <!-- <span id="close-x-note">X</span><br/>
    <button type="button" class="btn btn-outline-success note-edit-btn" style="position:absolute; right:2%;"> {{note_comment}} </button><br/><br/> -->
    <div class="suggestion note-last-edited"> From <b>question {{note.question_student.question.number}} </b>  Last edited on <b>{{note.last_edited}} </b></div>
    <div class="previous-notes">
      <div class="note-content formatted-answer-option">
        {{note_md|safe}}
      </div>
      <textarea placeholder="Enter notes (markdown supported)" class="field-style note-textarea" style="display: none;">{{note.content}}</textarea>

      <div class="main-question-image-preview">
        {% for image_object in note.images.all %}
            {% if image_object.image %}
            <div class="question-image" style="height: 10%;">
              <div class="formatted-answer-option">
                <img src="{{image_object.image.url}}" class="image-in-formatted"/>
                <input type="hidden" class="note-image-pk" value="{{image_object.pk}}">
              </div>
              <div class="add-delete-btns" style="display:none;">
                <button  type="button" class="btn btn-danger img-delete exempt">delete</button>
              </div>
            </div>
            {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="edit-handling-section" style="display: none;">
      <div class="uploaded-question-preview"></div><br/>
      <button type="button" class="main-question-add-image-btn btn btn-light open">Upload Image</button>
      <div class="question-image-upload-section" style="display: none;">
        <input type="file" accept="image/*" class="main-question-image-input">
        <button type="button" class="btn btn-success question-image-add">add</button>
      </div>
    <br/><br/>
    <button type="button" class="btn btn-outline-success save-note-btn"> Save </button>
    </div>

  </div>
<br>
</li>