<!-- deimos: assignment_management.html-->
{% extends 'deimos/layout.html' %}
{% block title %} Notes {% endblock %}
{% load static %}
{% block body%}
<div class="sidebar" style="display:none">
    <header class="sidebar-header">X</header>
    <ul>
        <li><a href="{% url 'deimos:index' %}">Home</a></li>
        <li><a href="{% url 'deimos:course_management' course_id=course.id %}">Assignments</a></li>
        <li><a href="{% url 'deimos:search_question' %}">Search Question</a></li>
    </ul>
</div>
<nav class="navbar-custom">
    <a class="nav-link home-btn" href="{% url 'deimos:index'%}">Home </a>
    <a class="nav-link" href="{% url 'deimos:course_management' course_id=course.id %}">Assignments</a>
    <a class="nav-link grabebook-btn" href="{% url 'deimos:gradebook' course_id=course.id %}">GradeBook</a>
</nav>
<div class="sf-container">
    <input type="text" name="search" class="page-search search-field w-limit-50" data-name="note-name" placeholder="search note" />
</div>
    <br/>

    <h4 class="suggestion original-size page-title">{{course.name}}: Notes</h4><hr/>
        {% for assignment, note_dict_list in assignments_dict.items %}
            <h4 class="suggestion original-size page-title">{{assignment.name}}</h4>
            <ul class="courses course-list" style="padding-top:5%;">
                {% for note_dict in note_dict_list %} 
                    {% include 'deimos/note_display.html' with note=note_dict.Note note_md=note_dict.note_md assignment_id=assignment.pk course_id=assignment.course.id %}
                {% endfor %}
            </ul>
        {% empty %}
            <h4 class="suggestion original-size"> You have not saved any notes yet. </h4>
        {% endfor %}
 
{% endblock %}
{% block scripts%}
<script src="{% static 'deimos/js/search_generic.js' %}"></script>
{% endblock %}
