<!-- deimos: course_management.html-->
{% extends 'deimos/layout.html' %}
{% load my_custom_tags %}
{% block title %} Course {% endblock %}
{% block style %} <link rel="stylesheet" href=""/> {% endblock %}
{% block body%}
<style>
    .nav-link:hover {
    cursor: pointer;
  }
</style>
<div class="sidebar" style="display:none">
    <header class="sidebar-header">X</header>
    <ul>
        <li><a href="{% url 'deimos:index' %}">Home</a></li>
        <li><a href="{% url 'astros:course_info' course_id=course.id %}">Course Info</a></li>
        <li><a href="{% url 'deimos:search_question' %}">Search Question</a></li>
    </ul>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light navigation" >
    <div class="container-fluid">
      <ul class="navbar-nav mr-auto" style="list-style: none; display:flex;">
        <li class="nav-item " style="display:inline;">
          <a class="nav-link home-btn" href="{% url 'deimos:course_management' course_id=course.id%}">Home </a>
        </li>
        <li class="nav-item" style="display:inline;">
          <a class="nav-link view-notes-btn" href="{% url 'deimos:note_management' course_id=course.id%}">View notes</a>
        </li>
    </div>
  </nav>

  <div class="home">
    <div id="sf-container">
        <input id="search-field" type="text" name="search" placeholder="search assignment" />
    </div>
    <br />
    <h4>{{course.name}}- PRACTICE TESTS</h4>
    <h4></h4>
    <hr />
    <div class="new_practice_test">
        <div><a href="{% url 'deimos:practice_test_settings' course_id=course.id practice_course_id=practice_course_id %}">
            <button class="btn edit-btn co">New Practice Test</button></div></a>
    </div>
    <!-- Display course's assignments -->
    <ul class="courses course-list">
        {% for assignment in practice_test_assignments %}
        {% include 'deimos/assignment_display.html' with assignment=assignment course=course %}
        {% endfor %}
    </ul>
</div>

<script>

</script>
{% endblock %}

