{% extends 'deimos/layout.html' %}
{% load static %}
{% block title %} Nav Question {% endblock %}
{% block style %}<link rel="stylesheet" href="{% static 'deimos/css/style.css' %}"/> 
<link rel="stylesheet" href="{% static 'deimos/css/question_nav.css' %}"/> {% endblock %}
{% block body %}
<div class="navigation">
    <ul>
        <li class="list active">
            <a href="#">
                <span class="icon">1</span>
                <span class="text">Home</span>
            </a>
        </li>
        <li class="list">
            <a href="#">
                <span class="icon">2</span>
                <span class="text">Profile</span>
            </a>
        </li>

        <li class="list">
            <a href="#">
                <span class="icon">3</span>
                <span class="text">Messages</span>
            </a>
        </li>

        <li class="list">
            <a href="#">
                <span class="icon">4</span>
                <span class="text">Lorem</span>
            </a>
        </li>

        <li class="list">
            <a href="#">
                <span class="icon">5</span>
                <span class="text">Ipsum</span>
            </a>
        </li>

        <div class="indicator"></div>
    </ul>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'deimos/js/question_nav.js' %}"></script>
{% endblock %}